<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<form class="example-form">

  <mat-form-field class="col-12" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" value="Lairton">
  </mat-form-field>    

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="I bought this because..."></textarea>
  </mat-form-field>

  <div>
    <button  mat-raised-button color="primary" (click)="rxjsMapTest()">Map</button>
  </div>  
</form>